Madusanka Madiligama
2/5/2024

In [1]:
import pandas as pd
import numpy as np 
import warnings
import geopandas as gpd

# Suppress all warnings
warnings.filterwarnings('ignore')

In [47]:
#read data into dataframes
fields_to_read = ['company_name','legal_name','address1','city','state','zip5','zip4','address_type_code','mail_addr_address1','mail_addr_city','mail_addr_state','mail_addr_zip5','mail_addr_zip4','mail_addr_address_type_code','county_code','county_name','cbsa','cbsa_name','dma','dma_name','latitude','longitude','census_id','census_block','census_tract','MedianIncomeCensusArea','MeanHousingCensusArea','url','naics_desc','sic2code','sic4code','sic6code','sic2desc','sic4desc','sic6desc','sic8desc','sic_division','exact_sales_volume','sales_volume','exact_number_of_employees','number_of_employees','employee_code','location_type','parent_company','parent_address','parent_city','parent_state','parent_zip','business_specialty','company_year_started','business_type','state_where_entity_formed','minority','woman','government','small','home_office','franchise','chain','site_status','zip_centroid_lat','zip_centroid_long','owner_company','owner_address','owner_city','owner_state','owner_zip','owner_country','owner_phone']
df_newspaper = pd.read_csv('../artifacts/data/Raw/newspaper.csv', quotechar='"', sep=',', on_bad_lines='skip', usecols=fields_to_read)
df_radio = pd.read_csv('../artifacts/data/Raw/radio.csv', quotechar='"', sep=',', on_bad_lines='skip', usecols=fields_to_read)
df_television = pd.read_csv('../artifacts/data/Raw/television.csv', quotechar='"', sep=',', on_bad_lines='skip', usecols=fields_to_read)
df_shapefile_NatDMA = gpd.read_file('../artifacts/data/shapefiles/NatDMA.shp')
df_shapefile_county = gpd.read_file('../artifacts/data/shapefiles/cb_2018_us_county_500k.shp')
df_county = pd.read_csv('../artifacts/data/shapefiles/county.csv')

In [48]:
df_county = pd.read_csv('../artifacts/data/shapefiles/county.csv')

In [52]:
df_newspaper[df_newspaper['state']=='LA']

,company_name,legal_name,address1,city,state,zip5,zip4,address_type_code,mail_addr_address1,mail_addr_city,...,site_status,zip_centroid_lat,zip_centroid_long,owner_company,owner_address,owner_city,owner_state,owner_zip,owner_country,owner_phone
17251,LA/LA_0.csv:Dandridge Gazette,Dandridge Gazette,39038 Prairie North Dr,Gonzales,LA,70737,9506,S,NaN,NaN,...,NaN,30.229237,-90.92251,Dandridge Gazette,39038 Prairie North Dr,Gonzales,LA,70737-9506,US,NaN
17252,LA/LA_0.csv:American Press,"Shearman Associates, LLC",4900 Highway 90 E,Lake Charles,LA,70615,4037,S,Po Box 2893,Lake Charles,...,NaN,30.239906,-93.14977,Lake Charles American Press,4900 Highway 90 E,Lake Charles,LA,70615,US,3374333000
17257,LA/LA_0.csv:Avoyelles Journal,"Randy Decuir And Associates, Inc.",105 N Main St,Marksville,LA,71351,2405,S,Po Box 383,Marksville,...,NaN,31.140727,-92.08056,"Randy Decuir And Associates, INC",105 N Main St,Marksville,LA,71351-2405,US,NaN
17263,LA/LA_0.csv:Boise INC,Boise INC,4200 Highway 190 W,Deridder,LA,70634,9201,S,Po Box 1060,Deridder,...,NaN,30.835881,-93.27071,Packaging CORP America,1955 W Field Ct,Lake Forest,IL,60045,NaN,8474823000
17266,LA/LA_0.csv:Alexandria Daily Town Talk,"Alexandria Newspapers, Inc.",1201 3Rd St,Alexandria,LA,71301,8200,F,Po Box 7558,Alexandria,...,NaN,31.294532,-92.46015,Gannett CO INC,7950 Jones Branch Dr,Mc Lean,VA,22102-3302,US,7038546000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17865,LA/LA_3.csv:Times,Gannett River States Publishing CORP,222 Lake St,Shreveport,LA,71101,3738,S,NaN,NaN,...,NaN,32.505352,-93.74861,Gannett CO INC,7950 Jones Branch Dr,Mc Lean,VA,22102,US,7038546000
17867,LA/LA_3.csv:Weekly Want Ads,"Rushing, Inc.",6160 W Park Ave,Houma,LA,70364,1700,S,NaN,NaN,...,NaN,29.626988,-90.72076,Rushing INC,6160 W Park Ave,Houma,LA,70364,US,NaN
17868,LA/LA_3.csv:Times Picayune Publishing CORP,Times Picayune Publishing CORP,1001 N Highway 190,Covington,LA,70433,8962,S,NaN,NaN,...,NaN,30.470793,-90.10491,Times Picayune Publishing CORP,4013 I St,Metairie,LA,70001,US,3028309732
17869,LA/LA_3.csv:Times,Gannett River States Publishing CORP,222 Lake St,Shreveport,LA,71101,3738,S,NaN,NaN,...,NaN,32.505352,-93.74861,Gannett CO INC,7950 Jones Branch Dr,Mc Lean,VA,22102,US,7038546000
17872,LA/LA_3.csv:Times Picayune Publishing CORP,Times Picayune Publishing CORP,1001 N Highway 190,Covington,LA,70433,8962,S,NaN,NaN,...,NaN,30.470793,-90.10491,Times Picayune Publishing CORP,4013 I St,Metairie,LA,70001,US,3028309732

In [49]:
def add_geography_column(df_media, df_county):
    # Merge to get the 'Geography' column based on state and county name
    merged_df = df_media.merge(df_county, left_on=['state', 'county_name'], right_on=['New_State', 'New_County'])
    
    # If you want to keep only the original columns from df_media and the 'Geography' column from df_county
    merged_df = merged_df[df_media.columns.tolist() + ['Geography']]
    
    return merged_df

# Apply the function to each media DataFrame
df_newspaper_with_geography = add_geography_column(df_newspaper, df_county)
df_radio_with_geography = add_geography_column(df_radio, df_county)
df_television_with_geography = add_geography_column(df_television, df_county)

In [50]:
df_newspaper_with_geography

,company_name,legal_name,address1,city,state,zip5,zip4,address_type_code,mail_addr_address1,mail_addr_city,...,zip_centroid_lat,zip_centroid_long,owner_company,owner_address,owner_city,owner_state,owner_zip,owner_country,owner_phone,Geography
0,AL/AL_0.csv:Andalusia Newspapers INC,Andalusia Newspapers INC,207 Dunson St,Andalusia,AL,36420,3705,S,Po Box 430,Andalusia,...,31.279043,-86.48699,Andalusia Newspapers INC,207 Dunson St,Andalusia,AL,36420,US,2053304100,0500000US01039
1,AL/AL_0.csv:Eufaula Tribune Publishing CO,Eufaula Tribune Publishing CO,514 E Barbour St,Eufaula,AL,36027,1704,S,Po Box 628,Eufaula,...,31.876168,-85.17362,Eufaula Tribune Publishing CO,514 E Barbour St,Eufaula,AL,36027,US,NaN,0500000US01005
2,AL/AL_0.csv:Cherokee Publishing CO,NaN,107 1St Ave W,Centre,AL,35960,1901,S,NaN,NaN,...,34.141067,-85.60472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0500000US01019
3,AL/AL_0.csv:Birmingham News CO,Birmingham News CO,302 Business Center Dr,Birmingham,AL,35244,2025,S,NaN,NaN,...,33.356981,-86.81577,Advance Publications INC,950 W Fingerboard Rd,Staten Island,NY,10305,NaN,3028309732,0500000US01117
4,AL/AL_0.csv:Gospel Publishing Association,NaN,3940 Pinson Valley Pkwy,Birmingham,AL,35217,1856,S,NaN,NaN,...,33.590003,-86.76708,Gospel Publishing Association,3940 Pinson Valley Pkwy,Birmingham,AL,35217,US,NaN,0500000US01073
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27133,Rawlins Daily Times,"Rawlins Newspapers, Inc.",522 W Buffalo St,Rawlins,WY,82301,5623,S,Po Box 459,Rawlins,...,41.971581,-107.29475,Rawlins Newspapers INC,522 W Buffalo St,Rawlins,WY,82301,US,NaN,0500000US56007
27134,Sage Publishing CO,Sage Publishing CO,445 Uinta Dr,Green River,WY,82935,4815,S,Po Box 580,Green River,...,41.659162,-109.63919,Green River Star,445 Uinta Dr,Green River,WY,82935,US,NaN,0500000US56037
27135,The Wrangler Horse And Rodeo News,NaN,20 Minter Ln,Riverton,WY,82501,8958,S,Po Box 6070,Riverton,...,43.013826,-108.34879,Paulette Moss,20 Minter Ln,Riverton,WY,82501-8958,US,NaN,0500000US56013
27136,Sage Publishing CO,Sage Publishing CO,445 Uinta Dr,Green River,WY,82935,4815,S,Po Box 580,Green River,...,41.659162,-109.63919,Green River Star,445 Uinta Dr,Green River,WY,82935,US,NaN,0500000US56037
27137,"Thermopolis Independent Record, INC","Thermopolis Independent Record, Inc.",431 Broadway St,Thermopolis,WY,82443,2715,S,412 N Main St,Buffalo,...,43.694009,-108.31942,H-I INC,431 Broadway St,Thermopolis,WY,82443,US,NaN,0500000US56017

In [45]:
merged_gdf_county = df_shapefile_county.merge(df_newspaper_selected, left_on='NAME', right_on='county_name')

Empty DataFrame
Columns: [company_name, legal_name, trade_name, dba_name, fictitious_name, address1, address2, city, state, zip5, zip4, address_type_code, mail_addr_address1, mail_addr_address2, mail_addr_city, mail_addr_state, mail_addr_zip5, mail_addr_zip4, mail_addr_address_type_code, country, state_code, county_code, county_name, carrier_route, cbsa, cbsa_name, dma, dma_name, scf, congress_code, delivery_point_code, delivery_point_check_digit, latitude, longitude, timezone, timezonecode, census_id, census_block, census_tract, MedianIncomeCensusArea, MeanHousingCensusArea, url, url_type, telephone, telephone2, toll_free_number, fax, fax2, naics, naics_desc, sic2code, sic4code, sic6code, sic2desc, sic4desc, sic6desc, sic8desc, sic_division, exact_sales_volume, sales_volume, sales_code, exact_number_of_employees, number_of_employees, employee_code, location_type, parent_company, parent_address, parent_city, parent_state, parent_zip, parent_country, parent_phone, public, business_specialty, company_year_started, business_type, state_where_entity_formed, minority, woman, government, small, home_office, franchise, chain, mailable, phoneable, primary_record, streetnum, predir, streetname, addrsuffix, postdir, unit_type, unit_num, mail_addr_streetnum, mail_addr_streetname, mail_addr_unit_num, minority_desc_code, fka_name, prev_address1, ...]
Index: []

[0 rows x 173 columns]

In [35]:
df_newspaper = pd.read_csv('../artifacts/data/Raw/newspaper.csv', quotechar='"', sep=',', on_bad_lines='skip', usecols=fields_to_read)

0         AK
1         AK
2         AK
3         AK
4         AK
        ...
44931    NaN
44932     WY
44933     WY
44934     WY
44935     WY
Name: state, Length: 44936, dtype: object

In [41]:
df_county = pd.read_csv('../artifacts/data/shapefiles/county_code.csv')
df_county

           Geography               County         State
0     0500000US01001       Autauga County       Alabama
1     0500000US01003       Baldwin County       Alabama
2     0500000US01005       Barbour County       Alabama
3     0500000US01007          Bibb County       Alabama
4     0500000US01009        Blount County       Alabama
...              ...                  ...           ...
3216  0500000US72145  Vega Baja Municipio   Puerto Rico
3217  0500000US72147    Vieques Municipio   Puerto Rico
3218  0500000US72149   Villalba Municipio   Puerto Rico
3219  0500000US72151    Yabucoa Municipio   Puerto Rico
3220  0500000US72153      Yauco Municipio   Puerto Rico

[3221 rows x 3 columns]

In [44]:
df_county['New_County'] = df_county['County'].str.replace(' County', '').str.replace(' Municipio', '')


state_abbreviations = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS', 'Missouri': 'MO',
    'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
    'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH',
    'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT',
    'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY',
    'Puerto Rico': 'PR'
}
df_county['State'] = df_county['State'].str.strip().str.title()
# Convert full state names to abbreviations
df_county['New_State'] = df_county['State'].map(state_abbreviations)

df_county

           Geography               County        State New_County New_State
0     0500000US01001       Autauga County      Alabama    Autauga        AL
1     0500000US01003       Baldwin County      Alabama    Baldwin        AL
2     0500000US01005       Barbour County      Alabama    Barbour        AL
3     0500000US01007          Bibb County      Alabama       Bibb        AL
4     0500000US01009        Blount County      Alabama     Blount        AL
...              ...                  ...          ...        ...       ...
3216  0500000US72145  Vega Baja Municipio  Puerto Rico  Vega Baja        PR
3217  0500000US72147    Vieques Municipio  Puerto Rico    Vieques        PR
3218  0500000US72149   Villalba Municipio  Puerto Rico   Villalba        PR
3219  0500000US72151    Yabucoa Municipio  Puerto Rico    Yabucoa        PR
3220  0500000US72153      Yauco Municipio  Puerto Rico      Yauco        PR

[3221 rows x 5 columns]

In [46]:
df_county.to_csv('../artifacts/data/shapefiles/county.csv')

In [25]:
df_shapefile_county

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry
0,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053..."
1,21,017,00516855,0500000US21017,21017,Bourbon,06,750439351,4829777,"POLYGON ((-84.44266 38.28324, -84.44114 38.283..."
2,21,031,00516862,0500000US21031,21031,Butler,06,1103571974,13943044,"POLYGON ((-86.94486 37.07341, -86.94346 37.074..."
3,21,065,00516879,0500000US21065,21065,Estill,06,655509930,6516335,"POLYGON ((-84.12662 37.64540, -84.12483 37.646..."
4,21,069,00516881,0500000US21069,21069,Fleming,06,902727151,7182793,"POLYGON ((-83.98428 38.44549, -83.98246 38.450..."
...,...,...,...,...,...,...,...,...,...,...
3228,31,073,00835858,0500000US31073,31073,Gosper,06,1186616237,11831826,"POLYGON ((-100.09510 40.43866, -100.08937 40.4..."
3229,39,075,01074050,0500000US39075,39075,Holmes,06,1094405866,3695230,"POLYGON ((-82.22066 40.66758, -82.19327 40.667..."
3230,48,171,01383871,0500000US48171,48171,Gillespie,06,2740719114,9012764,"POLYGON ((-99.30400 30.49983, -99.28234 30.499..."
3231,55,079,01581100,0500000US55079,55079,Milwaukee,06,625440563,2455383635,"POLYGON ((-88.06959 42.86726, -88.06959 42.872..."
3232,26,139,01623012,0500000US26139,26139,Ottawa,06,1459502408,2765830983,"POLYGON ((-86.26432 43.11830, -86.25103 43.118..."

In [3]:
fields_to_dedupe=['company_name','address1']
df_deduped_radio=df_radio.drop_duplicates(subset=fields_to_dedupe)
df_deduped_newspaper=df_newspaper.drop_duplicates(subset=fields_to_dedupe)
df_deduped_television=df_television.drop_duplicates(subset=fields_to_dedupe)

In [21]:
# Import necessary libraries
import plotly.express as px
import plotly.graph_objects as go
import json

# Function to process and create the map for each media type
def process_and_plot(df_media, df_shapefile, media_type):
    # Deduplicate the DataFrame based on certain fields
    fields_to_dedupe = ['company_name', 'address1']
    df_deduped_media = df_media.drop_duplicates(subset=fields_to_dedupe)
    
    # Select necessary columns and drop NaN values
    df_media_selected = df_deduped_media[["company_name", "latitude", "longitude", 'dma_name', 'dma']].dropna()
    
    # Merge with the shapefile DataFrame based on the 'dma'
    merged_gdf = df_shapefile.merge(df_media_selected, left_on='Key', right_on='dma')
    
    # Count DMA occurrences
    merged_gdf['dma_count'] = merged_gdf.groupby('dma')['dma'].transform('count')
    
    # Remove duplicates based on 'dma'
    merged_gdf = merged_gdf.drop_duplicates(subset=['dma'])
    
    # Convert GeoDataFrame to JSON for the choropleth
    json_data = merged_gdf.geometry.to_json()
    geojson = json.loads(json_data)
    
    # Create the choropleth map
    fig = px.choropleth_mapbox(
        merged_gdf,
        geojson=geojson,
        locations=merged_gdf.index,
        color='dma_count',
        color_continuous_scale="Viridis",
        mapbox_style="carto-positron",
        zoom=3,
        center={"lat": 37.0902, "lon": -95.7129},
        opacity=0.5,
        hover_name='dma_name',
        hover_data=None
    )
    
    # Set the hovertemplate
    fig.update_traces(
        hovertemplate=f"<b>%{{hovertext}}</b><br>Number of {media_type} stations: %{{z}}<extra></extra>"
    )
    
    # Adjust layout properties
    fig.update_layout(coloraxis_colorbar=dict(
        title=f'Number of {media_type.capitalize()} Stations in each DMA',
        thicknessmode="pixels", thickness=10,
        lenmode="pixels", len=200
    ))
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
    
    # Save the figure as an HTML file
    filename = f'../artifacts/output/{media_type.capitalize()}Stations.html'
    fig.write_html(filename)
    print(f"Map for {media_type} saved to {filename}")

In [22]:
# Assuming df_radio, df_newspaper, df_television, and df_shapefile are defined
# Process and plot maps for radio, newspaper, and television
process_and_plot(df_radio, df_shapefile, 'radio')
process_and_plot(df_newspaper, df_shapefile, 'newspaper')
process_and_plot(df_television, df_shapefile, 'television')

Map for radio saved to ../artifacts/output/RadioStations.html
Map for newspaper saved to ../artifacts/output/NewspaperStations.html
Map for television saved to ../artifacts/output/TelevisionStations.html

In [4]:

df_newspaper_selected = df_deduped_newspaper[["company_name","latitude","longitude",'dma_name','dma','county_name']]
df_newspaper_selected= df_newspaper_selected.dropna()
df_newspaper_selected

,company_name,latitude,longitude,dma_name,dma,county_name
0,Anchorage Daily News 1001 Northway Dr,61.212212,-149.812012,Anchorage,743,Anchorage
1,Homer News,59.640999,-151.506729,Anchorage,743,Kenai Peninsula
2,Alaskan-Yukon Publications,64.876221,-147.880905,Fairbanks,745,Fairbanks North Star
3,Fairbanks Daily News Miner,64.846474,-147.722778,Fairbanks,745,Fairbanks North Star
6,"Todd Communications, INC",61.210789,-149.872849,Anchorage,743,Anchorage
...,...,...,...,...,...,...
44904,News Media CORP,41.137421,-104.814079,Chey-Sctts,759,Laramie
44905,Wyoming Livestock Roundup,42.851810,-106.324610,Casper-Riverton,767,Natrona
44907,Cowboy State News Network,41.134472,-104.816620,Chey-Sctts,759,Laramie
44908,Riverton Ranger,43.035099,-108.202400,Casper-Riverton,767,Fremont
44925,Big Horn Basin Newspapers INC,43.986031,-108.146141,Casper-Riverton,767,Washakie

In [5]:
len(df_newspaper_selected.county_name.unique())

1828

In [8]:
len(df_shapefile_county.NAME.unique())

1922

In [15]:
merged_gdf_county = df_shapefile_county.merge(df_newspaper_selected, left_on='NAME', right_on='county_name')

In [13]:
merged_gdf_county = df_shapefile_county.merge(df_newspaper_selected, left_on='NAME', right_on='county_name', how='outer')

In [16]:
len(merged_gdf_county.county_name.unique())

1574

In [18]:
merged_gdf_county['station_count'] = merged_gdf_county.groupby('county_name')['county_name'].transform('count')

In [20]:
merged_gdf_county

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry,company_name,latitude,longitude,dma_name,dma,county_name,station_count
0,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053...",KY/KY_0.csv:Ballard Weekly,36.974060,-89.006248,Pdch-Cg-Har-Mtv,632,Ballard,4
1,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053...",KY/KY_0.csv:Ballard Weekly,36.974060,-89.006248,Pdch-Cg-Har-Mtv,632,Ballard,4
2,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053...",KY/KY_0.csv:Advance Yeoman,37.111488,-88.986076,Pdch-Cg-Har-Mtv,632,Ballard,4
3,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053...",KY/KY_2.csv:Racking Review,36.967892,-89.043800,Pdch-Cg-Har-Mtv,632,Ballard,4
4,21,017,00516855,0500000US21017,21017,Bourbon,06,750439351,4829777,"POLYGON ((-84.44266 38.28324, -84.44114 38.283...",KS/KS_0.csv:Fort Scott Tribune,37.823521,-94.761520,Joplin-Pittsbrg,603,Bourbon,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75601,26,139,01623012,0500000US26139,26139,Ottawa,06,1459502408,2765830983,"POLYGON ((-86.26432 43.11830, -86.25103 43.118...",OH/OH_1.csv:Exponent Publishing CO INC,41.507771,-83.146339,Toledo,547,Ottawa,64
75602,26,139,01623012,0500000US26139,26139,Ottawa,06,1459502408,2765830983,"POLYGON ((-86.26432 43.11830, -86.25103 43.118...",OH/OH_1.csv:Creative Computing,41.471989,-83.300270,Toledo,547,Ottawa,64
75603,26,139,01623012,0500000US26139,26139,Ottawa,06,1459502408,2765830983,"POLYGON ((-86.26432 43.11830, -86.25103 43.118...",OH/OH_2.csv:Lake Front News,41.513420,-82.941742,Toledo,547,Ottawa,64
75604,26,139,01623012,0500000US26139,26139,Ottawa,06,1459502408,2765830983,"POLYGON ((-86.26432 43.11830, -86.25103 43.118...",OH/OH_3.csv:Outdoor News Service,41.513420,-82.941742,Toledo,547,Ottawa,64
75605,26,139,01623012,0500000US26139,26139,Ottawa,06,1459502408,2765830983,"POLYGON ((-86.26432 43.11830, -86.25103 43.118...",OK/OK_0.csv:Miami Newspapers INC,36.876339,-94.877647,Joplin-Pittsbrg,603,Ottawa,64

In [21]:
merged_gdf_county = merged_gdf_county.drop_duplicates(subset=['county_name'])
merged_gdf_county

,STATEFP,COUNTYFP,COUNTYNS,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry,company_name,latitude,longitude,dma_name,dma,county_name,station_count
0,21,007,00516850,0500000US21007,21007,Ballard,06,639387454,69473325,"POLYGON ((-89.18137 37.04630, -89.17938 37.053...",KY/KY_0.csv:Ballard Weekly,36.974060,-89.006248,Pdch-Cg-Har-Mtv,632,Ballard,4
4,21,017,00516855,0500000US21017,21017,Bourbon,06,750439351,4829777,"POLYGON ((-84.44266 38.28324, -84.44114 38.283...",KS/KS_0.csv:Fort Scott Tribune,37.823521,-94.761520,Joplin-Pittsbrg,603,Bourbon,4
6,21,031,00516862,0500000US21031,21031,Butler,06,1103571974,13943044,"POLYGON ((-86.94486 37.07341, -86.94346 37.074...",AL/AL_0.csv:Greenville Newspaper LLC,31.798969,-86.625282,Montgomery(Sel),698,Butler,240
36,21,065,00516879,0500000US21065,21065,Estill,06,655509930,6516335,"POLYGON ((-84.12662 37.64540, -84.12483 37.646...",KY/KY_0.csv:Estill County Tribune,37.779652,-84.007393,Lexington,541,Estill,2
38,21,069,00516881,0500000US21069,21069,Fleming,06,902727151,7182793,"POLYGON ((-83.98428 38.44549, -83.98246 38.450...",KY/KY_0.csv:Fleming Shopper,38.423119,-83.732437,Lexington,541,Fleming,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75478,48,117,01383845,0500000US48117,48117,Deaf Smith,06,3876750541,3926557,"POLYGON ((-103.04326 35.12506, -103.04252 35.1...",TX/TX_4.csv:Hereford Brand INC,34.815689,-102.401642,Amarillo,634,Deaf Smith,2
75543,45,033,01247993,0500000US45033,45033,Dillon,06,1049113569,4545512,"POLYGON ((-79.63341 34.29799, -79.58450 34.384...",SC/SC_0.csv:Dillon Herald INC,34.420349,-79.368423,Flrnce-Mrtl BCh,570,Dillon,2
75545,31,073,00835858,0500000US31073,31073,Gosper,06,1186616237,11831826,"POLYGON ((-100.09510 40.43866, -100.08937 40.4...",Elwood Bulletin,40.595509,-99.861511,Lin&Hst-Krny,722,Gosper,1
75552,48,171,01383871,0500000US48171,48171,Gillespie,06,2740719114,9012764,"POLYGON ((-99.30400 30.49983, -99.28234 30.499...",TX/TX_3.csv:Fredericksburg Publishing CO,30.282579,-98.882431,Austin,635,Gillespie,2
75554,55,079,01581100,0500000US55079,55079,Milwaukee,06,625440563,2455383635,"POLYGON ((-88.06959 42.86726, -88.06959 42.872...",WI/WI_0.csv:Milwaukee Community Journal,43.083359,-87.919060,Milwaukee,617,Milwaukee,36

In [23]:
merged_gdf_county = merged_gdf_county.sample(frac=0.1)

In [24]:
import plotly.express as px
import plotly.graph_objects as go
import json


# # Simplify geometries in the GeoDataFrame
# merged_gdf['geometry'] = merged_gdf['geometry'].simplify(tolerance=0.01)

# Convert GeoDataFrame to JSON for the choropleth
json_data = merged_gdf_county.geometry.to_json()

# Convert GeoJSON to dictionary (which is compatible with plotly)
geojson = json.loads(json_data)

fig = px.choropleth_mapbox(
    merged_gdf_county,
    geojson=geojson,
    locations=merged_gdf_county.index,  # This should be the column in merged_gdf that matches the GeoJSON features
    color='station_count',
    color_continuous_scale="Viridis",
    mapbox_style="carto-positron",
    zoom=3,
    center={"lat": 37.0902, "lon": -95.7129},
    opacity=0.5,
    hover_name='dma_name',  # This will be displayed as the title in the hover labels
    hover_data=None,  # We will define hover information manually using hovertemplate
)

# Set the hovertemplate to only include the information you want
fig.update_traces(
    hovertemplate="<b>%{hovertext}</b><br>Number of News stations: %{z}<extra></extra>"
)

# Adjust color bar size and layout properties
with fig.batch_update():
    fig.update_layout(coloraxis_colorbar=dict(
        title='Number of News stations in each county',
        thicknessmode="pixels", thickness=10,
        lenmode="pixels", len=200
    ))
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Save the figure as an HTML file
fig.write_html('../artifacts/output/NewspaperStations1.html')

In [15]:
import plotly.express as px
import plotly.graph_objects as go
import json


# # Simplify geometries in the GeoDataFrame
# merged_gdf['geometry'] = merged_gdf['geometry'].simplify(tolerance=0.01)

# Convert GeoDataFrame to JSON for the choropleth
json_data = merged_gdf.geometry.to_json()

# Convert GeoJSON to dictionary (which is compatible with plotly)
geojson = json.loads(json_data)

# Create the base choropleth map with custom hover data
fig = px.choropleth_mapbox(
    merged_gdf,
    geojson=geojson,
    locations=merged_gdf.index,
    color='dma_count',
    color_continuous_scale="Viridis",
    mapbox_style="carto-positron",
    zoom=3,
    center={"lat": 37.0902, "lon": -95.7129},
    opacity=0.5,
    custom_data=['dma_name', 'dma_count'],
    hover_name='dma_name',  # Display DMA name on hover
    hover_data=None,
    # hover_data={'dma_count': True},  # Show DMA count, hide index
)
fig.update_traces(
    hovertemplate="<b>%{properties.dma_name}</b><br>DMA Count: %{properties.dma_count}<extra></extra>"
)

# Adjust color bar size and layout properties in a batch update
with fig.batch_update():
    fig.update_layout(coloraxis_colorbar=dict(
        title='Number of News stations in each County',
        thicknessmode="pixels", thickness=10,
        lenmode="pixels", len=200
    ))
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Save the figure as an HTML file
fig.write_html('../artifacts/output/NewspaperStations.html')

In [48]:
#plot newspaper stations locations 
import plotly.express as px
import plotly.graph_objects as go
import json



# Convert GeoDataFrame to JSON for the choropleth
json_data = merged_gdf.geometry.to_json()

# Convert GeoJSON to dictionary (which is compatible with plotly)
geojson = json.loads(json_data)

# Create the base choropleth map
fig = px.choropleth_mapbox(
    merged_gdf,
    geojson=geojson,
    locations=merged_gdf.index,  # Use the column with adm names
    color='dma_count',  # Variable for coloring
    color_continuous_scale="Viridis",  # Color scale
    mapbox_style="carto-positron",
    zoom=3,
    center={"lat": 37.0902, "lon": -95.7129},
    opacity=0.5,
    hover_name='company_name',
)

# Add scatter plot for newspaper station locations
fig.add_trace(go.Scattermapbox(
    lat=merged_gdf['latitude'],
    lon=merged_gdf['longitude'],
    mode='markers',
    marker=go.scattermapbox.Marker(
        size=4,
        color='red',  # Marker color for newspaper station
        opacity=0.7
    ),
    text=merged_gdf['company_name'],  # Display newspaper station names on hover
))

# Adjust color bar size
fig.update_layout(coloraxis_colorbar=dict(
    title='Number of News stations in each County',
    thicknessmode="pixels", thickness=10,
    lenmode="pixels", len=200
))

# Hide the axis ticks and labels
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Save the figure as an HTML file
fig.write_html('../artifacts/output/NewspaperStations.html')

In [21]:
merged_gdf1 =merged_gdf.sample(frac=0.01)

In [22]:
merged_gdf1

,Key,AFFGEOID,GEOID,NAME,AreaSqKm,AreaSqMi,CentroidX,CentroidY,LengthKm,LengthMi,NumParts,PeanoKey,ObjType,geometry,company_name,latitude,longitude,dma_name,dma,dma_count
9991,622,None,None,New Orleans LA,25824.814107,9971.016471,-90.152526,30.040479,10965.580066,6813.695559,3074,-61581532278761852,Polygon,"MULTIPOLYGON (((-91.34054 29.32967, -91.34070 ...",LA/LA_1.csv:Louisiana Sportsman INC,29.881500,-90.389061,New Orleans,622,51
13087,687,None,None,Minot-Bismarck-Dickinson ND,154911.344302,59811.604418,-102.303586,47.422435,2327.631060,1446.322887,1,-61589614647581187,Polygon,"POLYGON ((-99.00282 46.27338, -99.00293 46.267...",Free Trader,48.819511,-106.054962,Minot-Bsmrk-Dkn,687,66
1843,506,None,None,Boston MA (Manchester NH),24941.307881,9629.892810,-71.542246,42.687959,2945.255561,1830.096960,197,-61567605548026870,Polygon,"MULTIPOLYGON (((-71.01254 42.33381, -71.01292 ...",MA/MA_0.csv:Gatehouse Media Mass I INC,42.468048,-71.178368,Boston (Manchr),506,484
11540,650,None,None,Oklahoma City OK,79208.443009,30582.550821,-98.273062,35.783838,1688.158829,1048.973264,1,-61575332410498160,Polygon,"POLYGON ((-95.98107 35.21760, -95.98109 35.216...",OK/OK_0.csv:Piedmont-Surrey Gazette,35.670292,-97.753487,Oklahoma City,650,147
8658,613,None,None,Minneapolis-St. Paul MN,116765.618285,45083.457263,-94.134697,45.608408,2505.164796,1556.637236,1,-61574266070042245,Polygon,"POLYGON ((-91.53945 45.56553, -91.53953 45.562...",MN/MN_0.csv:Balaton Publishing CO,44.236721,-95.876152,Mineapls-St. Pl,613,745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3829,523,None,None,Burlington VT-Plattsburgh NY,39290.317289,15170.076315,-72.928641,44.248953,1089.884764,677.222995,1,-61567591380923460,Polygon,"POLYGON ((-71.34752 44.07003, -71.35412 44.060...",NY/NY_1.csv:Denton Publications,44.212158,-73.612602,Burlngtn-Pltbrg,523,99
14391,744,None,None,Honolulu HI,16608.829251,6412.704825,-156.543919,20.511418,1957.824083,1216.535485,78,-61852567124906866,Polygon,"MULTIPOLYGON (((-160.08715 22.01946, -160.0876...",Hawaii Collectors Digest,21.297710,-157.861740,Honolulu,744,64
5255,535,None,None,Columbus OH,26487.269954,10226.792103,-82.718746,39.963397,1219.218236,757.587089,1,-61569594343859383,Polygon,"POLYGON ((-81.22579 40.16999, -81.22584 40.168...",OH/OH_1.csv:Gannett CO INC,40.058739,-82.398888,"Columbus, OH",535,115
16086,804,None,None,Palm Springs CA,2344.679498,905.285815,-116.308270,33.724068,368.807693,229.166476,3,-61592332139581342,Polygon,"MULTIPOLYGON (((-115.67748 33.42736, -115.6827...",CA/CA_12.csv:Valley Business Jurnl INC,33.526840,-117.157547,Palm Springs,804,52
16629,819,None,None,Seattle-Tacoma WA,67691.038979,26135.656264,-122.159706,47.654794,5715.357288,3551.358372,383,-61595573237752933,Polygon,"MULTIPOLYGON (((-124.75855 48.17573, -124.7585...",WA/WA_0.csv:Davis Lonnie,47.624390,-122.314423,Seattle-Tacoma,819,253

In [14]:
import plotly.express as px
import plotly.graph_objects as go
import json

# Simplify geometries in the GeoDataFrame
merged_gdf1['geometry'] = merged_gdf1['geometry'].simplify(tolerance=0.01)

# Convert GeoDataFrame to JSON for the choropleth
json_data = merged_gdf1.geometry.to_json()

# Convert GeoJSON to dictionary (which is compatible with plotly)
geojson = json.loads(json_data)

# Create the base choropleth map
fig = px.choropleth_mapbox(
    merged_gdf1,
    geojson=geojson,
    locations=merged_gdf1.index,  # Use the column with county names
    color='dma_count',  # Variable for coloring
    color_continuous_scale="Viridis",  # Color scale
    mapbox_style="carto-positron",
    zoom=3,
    center={"lat": 37.0902, "lon": -95.7129},
    opacity=0.5,
    hover_name='company_name',
)

# Add scatter plot for hospital locations (consider using Scattergeo)
fig.add_trace(go.Scattermapbox(
    lat=merged_gdf1['latitude'],
    lon=merged_gdf1['longitude'],
    mode='markers',
    marker=go.scattermapbox.Marker(
        size=9,
        color='red',  # Marker color for hospitals
        opacity=0.7
    ),
    text=merged_gdf1['company_name'].apply(lambda x: x[:10]),  # Truncate hover text to reduce memory usage
))

# Adjust color bar size and layout properties in a batch update
with fig.batch_update():
    fig.update_layout(coloraxis_colorbar=dict(
        title='Number of News stations in each County',
        thicknessmode="pixels", thickness=10,
        lenmode="pixels", len=200
    ))
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Save the figure as an HTML file
fig.write_html('../artifacts/output/NewspaperStations.html')

In [28]:
import plotly.express as px
import plotly.graph_objects as go
import json

# Assuming merged_gdf1 and the simplification step is already defined
# Simplify geometries in the GeoDataFrame
merged_gdf['geometry'] = merged_gdf['geometry'].simplify(tolerance=0.01)

# Convert GeoDataFrame to JSON for the choropleth
json_data = merged_gdf.geometry.to_json()

# Convert GeoJSON to dictionary (which is compatible with plotly)
geojson = json.loads(json_data)

# Create the base choropleth map with custom hover data
fig = px.choropleth_mapbox(
    merged_gdf,
    geojson=geojson,
    locations=merged_gdf1.index,
    color='dma_count',
    color_continuous_scale="Viridis",
    mapbox_style="carto-positron",
    zoom=3,
    center={"lat": 37.0902, "lon": -95.7129},
    opacity=0.5,
    hover_name='dma_name',  # Display DMA name on hover
    hover_data={'dma_count': True, 'dma_name': False},  # Show DMA count, hide index
)

# # Add scatter plot for hospital locations with custom hover info
# fig.add_trace(go.Scattermapbox(
#     lat=merged_gdf1['latitude'],
#     lon=merged_gdf1['longitude'],
#     mode='markers',
#     marker=go.scattermapbox.Marker(
#         size=9,
#         color='red',
#         opacity=0.7
#     ),
#     text=merged_gdf1['company_name'].apply(lambda x: x[:10]),  # Prepare hover text
#     hoverinfo='text',  # Display only the text prepared above
# ))

# Adjust color bar size and layout properties in a batch update
with fig.batch_update():
    fig.update_layout(coloraxis_colorbar=dict(
        title='Number of News stations in each County',
        thicknessmode="pixels", thickness=10,
        lenmode="pixels", len=200
    ))
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Save the figure as an HTML file
fig.write_html('../artifacts/output/NewspaperStations.html')

In [27]:
import plotly.express as px
import plotly.graph_objects as go
import json

# Assuming merged_gdf1 and the simplification step is already defined
# Simplify geometries in the GeoDataFrame
merged_gdf1['geometry'] = merged_gdf1['geometry'].simplify(tolerance=0.01)

# Convert GeoDataFrame to JSON for the choropleth
json_data = merged_gdf1.geometry.to_json()

# Convert GeoJSON to dictionary (which is compatible with plotly)
geojson = json.loads(json_data)

# Create the base choropleth map with custom hover data
fig = px.choropleth_mapbox(
    merged_gdf1,
    geojson=geojson,
    locations=merged_gdf1.index,
    color='dma_count',
    color_continuous_scale="Viridis",
    mapbox_style="carto-positron",
    zoom=3,
    center={"lat": 37.0902, "lon": -95.7129},
    opacity=0.5,
    hover_name='dma_name',  # Display DMA name on hover
    hover_data={'dma_count': True, 'dma_name': False},  # Show DMA count, hide index
)

# Add scatter plot for hospital locations with custom hover info
fig.add_trace(go.Scattermapbox(
    lat=merged_gdf1['latitude'],
    lon=merged_gdf1['longitude'],
    mode='markers',
    marker=go.scattermapbox.Marker(
        size=9,
        color='red',
        opacity=0.7
    ),
    text=merged_gdf1['company_name'].apply(lambda x: x[:10]),  # Prepare hover text
    hoverinfo='text',  # Display only the text prepared above
))

# Adjust color bar size and layout properties in a batch update
with fig.batch_update():
    fig.update_layout(coloraxis_colorbar=dict(
        title='Number of News stations in each County',
        thicknessmode="pixels", thickness=10,
        lenmode="pixels", len=200
    ))
    fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})

# Save the figure as an HTML file
fig.write_html('../artifacts/output/NewspaperStations.html')

In [ ]:
api_key = '73c3aa7fa1514793a06fcf796ee1d749'
company_name = "Homer News"
base_url = "https://api.opencagedata.com/geocode/v1/json"
params = {
    "q": company_name,
    "key": api_key,
    "limit": 1,  # Assuming you're only interested in the top result
}
response = requests.get(base_url, params=params)
print(response.text)  # This will print the full API response